In [1]:
#add and substarct
a = int(input("enter a: "))
b = int(input("enter b: "))
print(a + b)
print(a - b)

enter a: 2
enter b: 2
4
0

In [4]:
#multiply and division
a = int(input("enter a: "))
b = int(input("enter b: "))
print(a * b)
print(a / b)

enter a: 2
enter b: 3
6
0.6666666666666666

In [5]:
#square and cube
a = int(input("enter a: "))
print(a ** 2)
print(a ** 3)

enter a: 23
529
12167

#square root of number
n = int(input("enter a: "))
n1 = str(n ** 0.5)
print( n1 )

In [6]:
#square root of number 
n = int(input("enter a: ")) 
n1 = str(n ** 0.5) 
print( n1 )

enter a: 81
9.0

In [7]:
#area of square
side = int(input("enter side: "))
area_of_square = str(side * side)
print("area of square " + area_of_square)

perimeter_of_square = str(4 * side)
print("perimeter of square " + perimeter_of_square)

enter side: 2
area of square 4
perimeter of square 8

In [8]:
#area and circumference of circle
r = int(input("radius of circle: "))
pi = 3.14
area_of_circle = str(pi * (r**2))
circumferenc_of_circle = str(2 * pi * r)
print("area of circle : " + area_of_circle)
print("circumferenc of circle : " + circumferenc_of_circle)

radius of circle: 12
area of circle : 452.16
circumferenc of circle : 75.36

In [9]:
#area of sphere
r = int(input("radius of sphere: "))
pi = 3.14
area_of_sphere = (4 * pi * r**2)
area_of_sphere

radius of sphere: 33

13677.84

In [10]:
r = int(input("radius of cylinder: "))
h = int(input("height of cylinder: "))
pi = 3.14
volume_of_cylinder = pi * r**2 * h
volume_of_cylinder

radius of cylinder: 44
height of cylinder: 12

72948.48

In [11]:
# age in days
from datetime import datetime, date

date_of_birth = input("enter date of birth (DD-MM-YYYY): ")

print(date_of_birth)

dob = datetime.strptime(date_of_birth, "%d-%m-%Y").date()

print(dob)

today_date = date.today()

print(today_date)

age = today_date - dob

age_in_days = age.days

print(f"Your age in days: {age_in_days}")

enter date of birth (DD-MM-YYYY): 26-08-1998
26-08-1998
1998-08-26
2021-07-14
Your age in days: 8358

In [ ]:
os, sys, datetime,

In [12]:
# simple intrest
p = int(input("enter amount: "))
i = int(input("enter intrest: "))
t = int(input("enter months: "))
simple_intrest = ( p * i * t ) / 100
simple_intrest

enter amount: 700000
enter intrest: 2
enter months: 12

168000.0

In [13]:
# compound interest
p = float(input("enter amount: "))
r = float(input("enter interest: "))
t = float(input("enter years: "))

interest_calc = input("compounded [yearly/half-yearly/quaterly/monthly]: ")

d = {'yearly': 12 , 'half-yearly': 6,'quaterly': 3,'monthly': 1 }

n = (t*12) / d[interest_calc]
print(n)

amount = p*(1+((r/100)*(d[interest_calc]/12)))**n

print(amount)

enter amount: 18000
enter interest: 2
enter years: 1
compounded [yearly/half-yearly/quaterly/monthly]: half-yearly
2.0
18361.8

In [14]:
#km/hr to miles/hr
kilometers = int(input("enter kilometers/hr :"))
miles = kilometers * 0.621
n = str(miles)
n + " miles/hr"

enter kilometers/hr :12

'7.452 miles/hr'

In [ ]:
s = int(input("enter seconds = "))
print(s)

In [16]:
#age in days
from datetime import date,datetime

date_of_birth = input("enter date of birth[dd-mm-yyyy]: ")
print(date_of_birth)

dob = datetime.strptime(date_of_birth , "%d-%m-%Y").date()

print(dob)

today_date = date.today()

print(today_date)

age = today_date - dob

age_in_days = age.days

print(age_in_days)

enter date of birth[dd-mm-yyyy]: 08-08-1997
08-08-1997
1997-08-08
2021-07-14
8741

In [51]:
#milk vendor
buying_pure_milk_rate = 3.25

print(f"pure milk cost: {buying_pure_milk_rate}")

pure_milk = int(input("pure milk in liters:"))

buying_price = (buying_pure_milk_rate * pure_milk)

print(f"milk buying price: {buying_price}")

selling_price = 4.15

adding_water_per_liter = 0.25

water_in_milk = (pure_milk * adding_water_per_liter)

total_milk = (pure_milk + water_in_milk)

print(f"total milk with water: {total_milk}")

milk_selling_price = total_milk * selling_price

print(f"milk selling price: {selling_price}")

gain = milk_selling_price - buying_price

print(f"gain of selling milk: {gain}")

pure milk cost: 3.25
pure milk in liters:4
milk buying price: 13.0
total milk with water: 5.0
milk selling price: 4.15
gain of selling milk: 7.75

In [36]:
f = int(input("enter fahrenheit value: "))

c = (f-32)/1.8

print(f"celsius value : {c}")

enter fahrenheit value: 98
celsius value : 36.666666666666664

In [38]:
#interchangig controls
a = input("enter a: ")
b = input("enter b: ")

temp = a
a = b
b = temp
print(a)
print(b)

enter a: 2
enter b: 4
4
2

In [47]:
#distance between two points
x1 = int(input("enter x1: "))
x2 = int(input("enter x2: "))
y1 = int(input("enter y1: "))
y2 = int(input("enter y2: "))
d = ((x2 - x1)**2 - (y2 - y1)**2)**1/2
print(f"distance between two points : {d}")

enter x1: 2
enter x2: 3
enter y1: 4
enter y2: 6
distance between two points : -1.5

In [57]:
distance_cites = int(input("enter the distance(km): "))
km_to_meters = (distance_cites * 1000)
km_to_centimeters = (distance_cites * 10**-5)
print(f"kilometers in meters : {km_to_meters}")
print(f"kilometers in centimetrs :{km_to_centimeters}")

enter the distance(km): 23
kilometers in meters : 23000
kilometers in centimetrs :0.00023

In [59]:
#dollars in rupees
dollars = int(input("enter dollars :"))
rupees = 74.50
dollar_in_rupees = dollars * rupees
print(f"dollar in rupees: {dollar_in_rupees}")

enter dollars :12
dollar in rupees: 894.0

In [61]:
h = int(input("enter height: "))
b = int(input("enter base: "))
area_of_traingle  = 1/2 * b * h
print(f"area of traiangle : {area_of_traingle}")

enter height: 3
enter base: 4
area of traiangle : 6.0

In [19]:
a = int(input("enter a: "))
b = int(input("enter b: "))
c = int(input("enter c: "))

s = (a + b + c) / 2

print(s)

area_of_traingle = (s*(s-a)*(s-b)*(s-c)) ** 1/2


print (f"area of traingle : {area_of_traingle}")

enter a: 4
enter b: 5
enter c: 6
7.5
area of traingle : 49.21875

In [25]:
sub1 = int(input("enter marks for subject1: "))
sub2 = int(input("enter marks for subject2: "))
sub3 = int(input("enter marks for subject3: "))

total = sub1 + sub2 + sub3

print(total)

average = total / 3

print(average)

enter marks for subject1: 60
enter marks for subject2: 90
enter marks for subject3: 100
250
83.33333333333333

In [23]:
n = int(input("enter value: "))

if n > 0 :
    
    print(f"{n} is +ve")
    
elif n == 0 :
    print(f"{n} is neutral")
    
else:
    print(f"{n} is -ve")

enter value: 56
56 is +ve

In [24]:
n = int(input("enter n: "))

if n%2 == 0 :
    
    print(f"{n} is even")
    
else:
    
    print(f"{n} is odd")

enter n: 23
23 is odd

In [26]:
a = int(input("enter a: "))

b = int(input("enter b: "))

if a < b :
    
    print("a is smaller")
    
else:
    
    print("b is smaller")

enter a: 3
enter b: 7
a is smaller

In [29]:
a = int(input("enter a: "))

b = int(input("enter b: "))

c = int(input("enter c: "))

is_greather_than = (a > b) and (a > c)

if is_greather_than :
    
    print("a is greater")
    
else:
    if b>c :
        print("b is greater")
        
    else:
        print("c is greater")

enter a: 2
enter b: 4
enter c: 3
b is greater

In [7]:
year = int(input("enter year: "))

if year%4 == 0 and year%100 != 0 or year % 400 == 0 :
    print("leap year")
    
else:
    print("not leap year")

enter year: 3000
not leap year

In [16]:
while True:
    i = input('enter a number: ')

    if int(i)>=0:
        print(f'entered value {i} is positive')
        print('enter next value: ')
        continue
    else:
        print(f'entered value {i} is negative')      
        break

enter a number: 12
entered value 12 is positive
enter next value:
enter a number: 2
entered value 2 is positive
enter next value:
enter a number: 3
entered value 3 is positive
enter next value:
enter a number: 4
entered value 4 is positive
enter next value:
enter a number: -2
entered value -2 is negative

In [12]:
i, total_sum = 0, 0

while i < 3:
    try:
        n = int(input('enter a number: '))
        total_sum += n
        i += 1
    except Exception as error:
        print('only numbers are allowed. please enter a valid number')
        continue

print(total_sum)

enter a number: 12
36

In [8]:
a = 12
b = 35
a, b = b, a
print(a)
print(b)

35
12

In [15]:
i = 0
total_sum = 0

while i < 10:
    n = int(input("enter n : "))
    total_sum += n
    i += 1
    
    
print(total_sum)

enter n : 1
enter n : 2
enter n : 3
enter n : 4
enter n : 5
enter n : 6
enter n : 7
enter n : 8
enter n : 9
enter n : 0
45

In [17]:
while True:
    
    i = int(input("enter value: "))

    if i>0:
        print(f"{i} is +ve")
        continue

    else:
        print(f"{i} is -ve")
        break

enter value: 12
12 is +ve
enter value: 3
3 is +ve
enter value: 4
4 is +ve
enter value: 5
5 is +ve
enter value: -5
-5 is -ve

In [24]:
i = 0
total_sum = 0

while i< 10:
    try:
        n = int(input("enter value : "))
        total_sum = total_sum + n
        i += 1
    except Exception as error:
        print('only numbers are valid')
        continue
    
print(total_sum)

enter value : we
only numbers are valid
enter value : we
only numbers are valid
enter value : 12
enter value : 34
enter value : we
only numbers are valid
enter value : 1
enter value : 2
enter value :
only numbers are valid
enter value : 3
enter value : 4
enter value : 5
enter value : y
only numbers are valid
enter value : 7
enter value : 8
enter value : 9
85

In [42]:
while True:
    
        n = int(input("enter input: "))
        if n > 0 :
            print(f"{n} is +ve ")
            continue

        else:
            print(f"{n} is -ve ")
            break

enter input: 3
3 is +ve
enter input: 3
3 is +ve
enter input: 3
3 is +ve
enter input: 3
3 is +ve
enter input: 3
3 is +ve
enter input: 3
3 is +ve
enter input: -4
-4 is -ve

In [5]:
i = 0
total_sum = 0

while i < 10:
    n = int(input("enter value: "))
    total_sum += n
    i += 1
    
print(total_sum)

enter value: 3
enter value: 4
enter value: 5
enter value: 6
enter value: 7
enter value: 8
enter value: 9
enter value: 2
enter value: 1
enter value: 4
49

In [13]:
from datetime import datetime,date

date_of_birth = input("enter date of birth(dd-mm-YYYY): ")
print(date_of_birth)

dob = datetime.strptime(date_of_birth , "%d-%m-%Y").date()
print(dob)

date_today = date.today()
print(date_today)

age_in_days = date_today - dob
print(age_in_days)

enter date of birth(dd-mm-YYYY): 26-08-1998
26-08-1998
1998-08-26
2021-07-23
8367 days, 0:00:00

In [16]:
while True:
    n = int(input("enter number: "))
    
    if n>0:
        print(f"{n} is +ve")
        continue
        
    else:
        print(f"{n} is -ve")
        break

enter number: 3
3 is +ve
enter number: 4
4 is +ve
enter number: 5
5 is +ve
enter number: -5
-5 is -ve

In [22]:
i = 0 
total_sum = 0

while i < 10:
    
    try:
        n = int(input("enter number: "))
        total_sum = total_sum + n
        i = i + 1
    except Exception as error:
        print("only numbers are valid")
        continue
    
print(total_sum)

enter number: 1
enter number: 2
enter number: 3
enter number: 4
enter number: r
only numbers are valid
enter number: 5
enter number: 6
enter number: 7
enter number: 8
enter number: 9
enter number: 10
55

In [24]:
n = input("enter word: ")
upper = n.upper()
print(upper)

enter word: sai
SAI

In [3]:
ch = input("enter charecter: ")

if (ch >='a'  and ch <= 'z' ):
    print(f"{ch} is lower")
    
elif (ch >= 'A' and ch <= 'Z'):
    print(f"{ch} is upper")
    
else:
    print("is not lower or not upper")

enter charecter:
is not lower or not upper

In [4]:
while True:
    n = int(input("enter value: "))
    if n>=0:
        print(f"{n} is +ve")
        continue
        
    else:
        print(f"{n} is -ve")
        break

enter value: 2
2 is +ve
enter value: 3
3 is +ve
enter value: 4
4 is +ve
enter value: 5
5 is +ve
enter value: -2
-2 is -ve

In [10]:
i = 1
total_sum = 0

while i <=10:
    n = int(input("enter value: "))
    total_sum += n
    i += 1
    
print(total_sum)

enter value: 1
enter value: 2
enter value: 3
enter value: 4
enter value: 5
enter value: 6
enter value: 7
enter value: 8
enter value: 9
enter value: 10
55

In [15]:
#type of traingle
a = int(input("enter side a: "))
b = int(input("enter side b: "))
c = int(input("enter side c: "))
all_equal = a == b and a == c and c == b
two_equal = (a == b or a == c) or (c == b or b == a)

if all_equal:
    print("it is equalateral traingle")
    
elif two_equal:
    print("it is isoceles traingle")
    
else:
    print("it is scalene traingle")

enter side a: 12
enter side b: 13
enter side c: 14
it is scalene traingle

In [16]:
n = input("enter word: ")
for each_char in n:
    print(each_char)
    continue
    
else

enter word: saigopi
s
a
i
g
o
p
i

In [17]:
for each_num in range(5):
    print(each_num)

0
1
2
3
4

In [33]:
from math import sqrt
a = int(input("enter a : "))
b = int(input("enter b : "))
c = int(input("enter c : "))
r = b**2 - (4 * a * c)
if r > 0:
    q1 = -b + sqrt(r)/(2 * a)
    q2 = -b - sqrt(r)/(2 * a)
    print(f"It has 2 roots {q1} & {q2}")
    
elif r == 0:
    q = -b / 2 * a 
    print(f"it has 1 root {q}")
    
else:    
      print("it has no roots")

enter a : 2
enter b : 4
enter c : 2
it has 1 root -4.0

In [51]:
sales = int(input("enter no of sales per month : "))

if sales >= 50000:
    salary =int (375 + (sales * (16 / 100) ) )
    print(salary)
    
elif sales <= 50000 and sales >= 40000 :
    salary = int (350 + (sales * (14 / 100) ) )
    print(salary)
    
elif sales <= 40000 and sales >= 30000 :
    salary = int (325 + (sales * (12 / 100) ) )
    print(salary)
    
elif sales <= 30000 and sales >= 20000 :
    salary = int (300 + (sales * (9 / 100) ) )
    print(salary)
    
elif sales <= 20000 and sales >= 10000 :
    salary = int (250 + (sales * (5 / 100) ) )
    print(salary)
    
elif sales <= 10000 :
    salary = int ( 200 + (sales * (3 / 100) ) )
    print(salary)

enter no of sales per month : 100
203

In [61]:
i = 1

while i <= 100:
    
    if i % 7 == 0 :
        print(i)
    i += 1

7
14
21
28
35
42
49
56
63
70
77
84
91
98

In [90]:
n = 2
list_1 = [1, 2, 3, 4, 5, 6]
list_1 = list_1[-n:] + list_1[:-n]
print(list_1)

[5, 6, 1, 2, 3, 4]

In [101]:
s = "hello world"
print(s[3:])
s[-3::-1]

lo world

'row olleh'

In [89]:
n = 2
list_1 = [1, 2, 3, 4, 5, 6]
list_1 = list_1[n:] + list_1[:n]
print(list_1)

[3, 4, 5, 6, 1, 2]

In [127]:
n = 5
l = [1, 2, 3, 4, 5, 6, 7]
l = l[-n:] + l[:-n]
l

[3, 4, 5, 6, 7, 1, 2]

In [29]:
list_1 = [1, 2, 3, 4, 5]


list_1[-1:-5:-1]

[5, 4, 3, 2]

In [126]:
temp  = [4, 6, 3, 5, 10, 2, 8]
n = max(temp) + 1
bf = n * [False]

for x in temp:
    bf[x] = True
    
bf

[False, False, True, True, True, True, True, False, True, False, True]

In [32]:
l = [(1234, 'jhon', 23000.0, 22),
     (1212, 'sasi', 26000.0, 34),
     (1245, 'mani', 27500.0, 16),
     (1644, 'gani', 28000.0, 45)]

In [33]:
for x in l:
    print(x)

(1234, 'jhon', 23000.0, True)
(1212, 'sasi', 26000.0, False)
(1245, 'mani', 27500.0, True)

In [43]:
emid, *others, age = (1234, 'jhon', 23000.0, 23)

In [45]:
emid

1234

In [44]:
age

23

In [46]:
others

[1234, 'jhon', 23000.0]

In [48]:
emid ,*other, toor = 'abcdef'
emid

'a'

In [49]:
toor

'f'

In [50]:
other

['b', 'c', 'd', 'e']

In [78]:
l = [(1234, 'jhon', 23000.0, 22),
     (1212, 'sasi', 26000.0, 34),
     (1245, 'mani', 27500.0, 16),
     (1644, 'gani', 28000.0, 45)]
sorted(l , reverse=True, key=lambda x:x[2])

[(1644, 'gani', 28000.0, 45),
 (1245, 'mani', 27500.0, 16),
 (1212, 'sasi', 26000.0, 34),
 (1234, 'jhon', 23000.0, 22)]

In [80]:
max(l , key=lambda x:x[2])

(1644, 'gani', 28000.0, 45)

In [81]:
min(l , key = lambda x:x[2])

(1234, 'jhon', 23000.0, 22)

In [74]:
f = lambda x:x*x

In [76]:
f(5)

25

In [4]:
l = [(1234, 'jhon', 14000.0, 22),
     (1212, 'sasi', 21000.0, 34),
     (1245, 'mani', 27500.0, 16),
     (1644, 'gani', 28000.0, 45)]
sum_1 = 0
counter = 0
for *_ ,sal, age in l:
    sum_1 += sal
    counter += 1
    print(sal)
    
print(f"sum of salary:{sum_1}")
print(f"length of salary: {counter}")
avg = sum_1 / counter    
print(f"average of salary:{avg}")

if sal > avg:
    print(sal)

14000.0
21000.0
27500.0
28000.0
sum of salary:90500.0
length of salary: 4
average of salary:22625.0
28000.0